@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

body { 
  font-family: 'Open Sans', sans-serif;
  font-size:16px; 
  background:rgba(50,8,51,0.6); 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

/* header */

header, footer {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

header img {
  float: left;
  width: 250px;
  padding: 8px 0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

#header-nav {
  margin-top: 20px;

  li > a {
    float: right;
    padding: 10px;
    color: #461C21;

    &:hover {
      border-radius: 5px;
    }

  }

}


html, body {
  height: 100%;
}

#wrapper {
  position: relative;
  min-height: 100%;
}

/* footer */

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;

  img {
    margin-right: 10px;
    border-radius: 4px;
  }

}

.copyright {
  float: left;
  line-height: 3.3;
}

/* homepage */

#homepage {
  height: 280px;
  background: black;
  background-image: url('/images/headerimage.jpg');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

#mainText {
  font-family: 'Montserrat', sans-serif;
  padding-top: 55px;
  padding-left: 100px;
  font-size: 40px;
  text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.35);
  color: #FFFFFF;
  width: 50%;
}

#content-area {
  border-radius: 10px;
  background: #fff;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* carousel */

.carousel-control {
  width: 5%;
  color: rgba(0,0,0,0.5);
}

.carousel-control:hover, .carousel-control:focus, .carousel-control:active {
  color: rgb(0,0,0);
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.carousel-inner {
  width: 85%;
  margin: 0 auto 20px;
  min-height: 130px;
  font-style: italic;
  padding: 0 1px;
}

#testimonials-carousel {
  border-radius: 10px;
  padding-top: 10px;
}

/* general */

.centered {
  text-align:center;
}

.baby-image-left, .baby-image-right {
  width: 33%;
  border-radius: 5px;
}

.baby-image-left {
  float: left;
  margin-right: 10px;
}

.baby-image-right {
  float: right;
  margin-left: 10px;
}

/* About */

.faqrow {
  margin-bottom: 20px;
}

.faqrow img {
  width:100%;
  margin-bottom:20px;
  margin-top: 10px;
}

/* Team */

#image-table {
  margin-bottom: 2em;

  img {
    width: 100%;
    padding: 2px;
    border: 1px solid rgb(131, 131, 131);
    background-color: white;
    border-radius: 5px;
  }

  p, li {
    color: #656565;
    padding-top: 2px;
    list-style-type: none;
  }

  ul {
    padding-left: 0;
    li {
      font-size: 0.9em;
    }
  }

}

#lactation-info {
  margin-bottom: 3em;
}

/* resources */

#resource-categories {
  margin-bottom: 15px;

  ul li {
    padding: 10px;
    border-radius:5px;

    &:hover {
      cursor:pointer;
    }

  }

}

.active-category {
  background-color: #557F45 !important;
  color: #FFF;
}

#resource-categories ul li:active, #resource-categories ul li:hover {
  background-color: #88A57D;
  color: #FFF;
}

#resource-details ul {
  
  display: none;

  li {
    margin-bottom: 20px;
  }

}
/* contact */

.contact img {
  width: 100%;
}

.contact textarea, .contact .formfield input {
  width: 100%;
}

.formfield, .carboncopy {
  margin-bottom: 10px;
}

#contactform {
  background: #EEE;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

#contactform h3 {
  margin-top: 0;
}

#contactform p {
  margin: 0;
}

.carboncopy {
  display: none;
}