footer.navbar#footer
  .navbar-inner
    .container-fluid
      .copyright
        | Bay Area Night Doulas ©
        | #{ new Date().getFullYear() }.
        | All rights reserved.
      nav
        .pull-right
          a(href='https://www.facebook.com/pages/Bay-Area-Night-Doulas/285623904839261')
            img(src='/images/fbooklogo.png')
          a(href='http://www.yelp.com/biz/bay-area-night-doulas-san-francisco')
            img(src='/images/yelplogo.png')