extends ./layout.jade

block content
  h3.centered ABOUT BAY AREA NIGHT DOULAS
  img.baby-image-left(src="./images/baby2.jpg")
  p The Bay Area Night Doulas all have professional training. In addition, many of us have taken coursework in lactation education and/or infant massage, and have extensive infant and childcare experience. Some team members are lactation educators and we also have an IBCLC Lactation Consultant in the group. Each doula continues to grow through education and experience, and shares-evidence based information and techniques. Each doula has many trustworthy references and recommendations from local Bay Area families. All doulas in the group are Infant CPR certified, are current on vaccinations, and have cleared negative TB tests.
  p A post partum doula is specially trained to provide practical and emotional support to mothers. Unlike a baby nurse, a doula is not uniquely focused on the baby, but on nurturing the mother and making sure that she is well cared for – rested, fed, hydrated, and comfortable, so that she may best care for her child.
  p A doula will support the mother in caring for her baby, breastfeeding, bottle-feeding, and educate the family on typical newborn behaviors. A large part of a Doula’s role is to educate and encourage the entire family during this time of major transition. She will share information about infant care, encourage parents to find their own individual parenting styles, and teach siblings and partners how best to “mother the mother.” A Doula is a non-medical care provider.
  img.baby-image-right(src="./images/baby1.jpg")
  p The first few weeks following the birth of a baby can be an exciting but overwhelming time for new parents as they adjust to their new roles. The Bay Area Night Doulas can help. Whether you need help with one or multiple babies, your Doula can offer an extra set of hands so you can sleep at night. The Bay Area Night Doulas are experienced in caring for singletons, multiples, and preemies; we support all family dynamics. 
  p Evidence shows that postpartum depression rates are substantially lower when mothers have postpartum support. Our night doulas provide unconditional care for new mothers and their families. In addition, if other children are in the home, postpartum care helps to maintain their normal routine, easing the transition to life with a new family member.
  h3.centered FREQUENTLY ASKED QUESTIONS
  .row.faqrow
    .col-xs-4
      img.baby-image-left(src="./images/baby3.jpg")
      img.baby-image-left(src="./images/baby5.jpg")
    .col-xs-8
      h4 What's the difference between a night doula and a birth doula?
      p The Bay Area Night Doulas support mom and baby <strong>after</strong> the baby's birth. A birth doula supports the mother <strong>before and during</strong> the birth of her baby. Many of our clients choose our recommended associates, San Francisco Birth Doulas, to support them for the births of their babies. If you would like to contact a birth doula, see our <a href="/resources">Resources</a> page for additional contact information.
      h4 Will the doula sleep train my baby?
      p Every baby is different. Some babies tend to develop a regular sleep routine easily but others may take longer. Most experts agree that a baby under 12 weeks old should not be sleep trained. Our doulas can help guide you in establishing a healthy routine for your baby that will encourage regular naps, good sleep habits and longer sleep stretches for each individual baby.
      h4 Will the doula bottle feed my baby?
      p If you have chosen bottle-feeding our doulas are happy to support you in this choice and can educate you on how and when to introduce a bottle. We will support any recommendations from your pediatrician or lactation consultant. 
      h4 Do your night doulas teach a particular parenting style?
      p No. The doula’s primary role is to support the mother, and we encourage her to develop her own parenting style. We support parents in whatever parenting methods they choose.
      h4 When and how long can I expect a doula to work with my family?
      p Our night doulas typically work with families as soon as the mother and baby are home from the hospital. Although there is no ‘set’ schedule, we generally work with families from 2-7 nights a week for several weeks or months depending on the individual needs of the family. Generally, our doulas work an 8-10 hour shift.
      h4 What else do you do?
      p Our goal is to keep mom comfortable and ensure that she gets a good night’s rest. We keep Mom nourished with a light snack and drink. We can assist in organizing the baby station, sterilizing pump and bottle parts and keeping the baby’s area clean and tidy.
      h4 When should I begin my search?
      p Many expectant mothers start looking for postpartum care during their second trimester. But do feel free to contact us at any time, and we’d be happy to discuss your needs and our availability. We have accommodated many families on short notice. Please see our “contact us” page for further information.
      h4 Will the doula assist at the birth?
      p No, our doulas are postpartum trained only. However, we can support you on the night of the birth or as soon as you get home from the hospital. If you would like to contact a birth doula, see our <a href="/resources">Resources</a> page for additional contact information.