extends ./layout.jade

block content
  h3.centered CONTACT US
  .row.contact
    .col-xs-5
      img(src="./images/baby6.jpg")
    .col-xs-7
      p When clients contact the Bay Area Night Doulas, our team members can assist in determining the anticipated needs of the potential client and match a family with a specific doula. Each doula is self-employed and carries individual liability insurance.
      p Please contact us by sending an email to <a href="mailto:info@bayareanightdoulas.com" class="style4">info [at] bayareanightdoulas.com</a>, or by giving us a call at 415.317.6334.