extends ./layout.jade

block header_image
  #homepage
    #mainText Supporting Mothers, Babies &amp; Families in the San Francisco Bay Area

block content
  h3.centered WELCOME TO BAY AREA NIGHT DOULAS